/* SELECTOR UNIVERSAL */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

*

/* QUITAR SCROLL O BARRA DE NAVEGACION VERTICAL */
body {
    overflow-x: hidden;
}

/* FLECHA ATRAS */
.flecha {
    display: block;
    width: 90px;
    font-family: 'Impact';
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 8px 30px;
    padding-right: 5px;
    text-decoration: none;
    background: transparent;
    margin: 1px 1px;
    margin-top: -10px;
    background-image: url(../CSS/icono_flecha_atras.webp);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 1px;
}

/* TEXTO VENTAS */
h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Impact';
    margin-top: auto;
}

/* TEXTO BUSCAR NUMERO DE FACTURA */
.texto {
    font-size: 25px;
    margin: 0px 240px;
    margin-top: 50px;
}

/* DIVISION BUSCADOR */
.buscador {
    position: absolute;
    padding: 5px;
    margin-top: 15px;
    margin: 57px;
}

/* INPUT Y LOGO BUSCADOR */
.input {
    width: 0px;
    height: 33px;
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    border: transparent;
    border-radius: 30px;
    transition: all 0.6s ease;
    position: absolute;
    margin: -2px -230px;
    outline: none;
    background: url(../CSS/icono_buscar.webp);
    background-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: 5px;
}

/* ANIMACION BUSCADOR AL PASAR EL CURSOR */
.input:hover {
    width: 190px;
    border: 2px solid black;
    background: url(../CSS/icono_buscar.webp);
    bacKground-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: 190px;
}

/* ANIMACION BUSCADOR AL DAR CLICK */
.input:focus {
    width: 190px;
    border: 2px solid black;
    background: url(../CSS/icono_buscar.webp);
    bacKground-size: 31px 31px;
    background-repeat: no-repeat;
    background-position: 190px;
}

/* BOTON GENERAR FACTURA VENTAS */
.generar {
    display: block;
    width: 238px;
    font-family: 'Impact';
    font-size: 25px;
    color: black;
    border-radius: 15px;
    padding: 7px;
    padding-left: 10px;
    text-decoration: none;
    text-align: left;
    background: #356f75;
    border: 2px solid black;
    margin: 10px 740px;
    margin-top: 15px;
    background-image: url(../CSS/icono_registrar_producto.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: 210px;
}

/* ANIMACION DEL BOTON GENERAR FACTURA VENTAS AL PASAR EL CURSOR */
.generar:hover {
    background-color: blue;
    border: 2px solid black;
    color: black;
    box-shadow: inset 0 0 10px black, 0 0 50px #ff0080, 0 0 50px #ff0080;
}

/* ANIMACION DEL BOTON GENERAR FACTURA VENTAS AL DAR CLIK */
.generar:active {
    background-color: #86ed11;
    color: black;
    box-shadow: inset 0 0 10px black, 0 0 50px #ff0080, 0 0 50px #ff0080;
}

/* TABLA VENTAS */
table,
td,
tr,
th {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 100px 585px;
    width: max-content;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
    cursor: default;
}

/* ICONO VER MAS */
.img_mas {
    width: 35px;
    float: right;
}

/* LOGO SOFTWARE */
.logo {
    height: 100px;
    width: 130px;
    margin: 0px 610px;
    margin-top: -60px;
}